<div class="container text-light">
    <div class="row text-center">
        <div class="col-12 text-warning">
            <h1 class="display-3">EAT DA BURGER</h1>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-md-6">
            {{#each burgers}}
            <p>{{id}}. {{burger_name}} </p>
            {{/each}}
        </div>
    </div>
</div>

{{!-- Create a button that will submit the user input into the database --}}