<div class="container text-light">
    <div class="row text-center">
        <div class="col-12 text-warning">
            <h1 class="display-3 customFont">EAT DA BURGER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="customFont text-center border-bottom">Available Burgers</h2>

            {{#each burgers}}
            {{#unless devoured}}
            <div class="row">
                <div class="col-8">
                    <p class="sortaBigFont">{{burger_name}} </p>
                </div>
                <div class="col-4">
                    <button class="btn btn-warning customFont devourBtn" id="{{id}}"><i class="fas fa-utensils"></i> Devour </button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-lg-6">
            <h2 class="customFont text-center border-bottom">Davoured Burgers</h2>

            {{#each burgers}}
            {{#if devoured}}
            <div class="row">
                <div class="col-12 text-center">
                    <p class="sortaBigFont">{{burger_name}} </p>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-3">
            <form>
                <div class="form-group">
                    <label for="addNewBurger" class="text-warning customFont">Add a Burger</label>
                    <input type="text" class="form-control" name="addNewBurger" id="newBurger">
                    <button class="btn btn-warning customFont mt-2" id="submitNewBurger">Make Burger!</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Create a button that will submit the user input into the database --}}