html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(./images/background.jpg) center no-repeat;
    background-size: cover;
    /* margin-bottom: 0; */
}

.customFont {
    font-family: 'Ultra', serif;
}

.bigFont {
    font-size: 40px;
}

.sortaBigFont {
    font-size: 30px;
}